<h1>Comment on post <%= h @comment.post.title %></h1>
<%= render :partial => 'comment', :locals => { :comment => @comment } -%>
  
<%= link_to 'Edit', edit_admin_blog_post_comment_path(@comment.post.blog, @comment.post, @comment) %> |
<%= link_to 'Back', admin_blog_post_comments_path(@comment.post.blog, @comment.post) %>
