<h1>New comment for post <%=h @post.title -%></h1>

<% form_for [@post.blog, @post, @comment] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } -%>
<% end %>

<%= link_to 'Back to post', blog_post_permalink_url(@post) %>
