<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th> 
    <th>Tagged</th>
  </tr>

<% for tag in @tags %>
  <tr>
    <td><%=h tag.name %></td>
    <td align="center">(<%= tag.taggings_count == 0 ? tag.taggings_count : link_to(tag.taggings_count, admin_tag_path(tag)) %> times)</td>
  </tr>
<% end %>
</table> 

<p><%= will_paginate @tags %></p>