<p>
  <b>Title:</b>
  <%=h @upload.title %>
</p>

<p>
  <%= image_tag @upload.asset.url(:thumb) if @upload.asset %>
</p>

<p>
  <b>User:</b>
  <%=h @upload.user_id %>
</p>


<%= link_to 'Back', admin_uploads_path %>
